{% extends "bases/home_bases.html" %}
{%block content%}
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style="background-image: url(/static/img/reservation-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div id="reserve_formulair">
                    <div class="section-content bg-white p-5 shadow">

                            <div class="text-center" v-if=" message_reservation == false ">
                                <div class="alert alert-danger" role="alert">
                                    <span class="text-danger">Fin de reservation</span>
                                </div>
                            </div>

                            <div class="heading-section text-center">
                                <span class="subheading">
                                    Reservation
                                </span>
                                <h2>
                                    Book Now
                                </h2>
                            </div>
                            <form v-on:submit="onSubmit" name="contact-us" action=""> {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="name" name="nom" placeholder="Name" v-model.trim="form.nom">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" v-model.trim="form.email">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="phone" class="form-control" id="phoneNumber" name="phone" placeholder="Phone" v-model.trim="form.phone">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <!-- <div class="input-group date" id="" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" placeholder="Jour reservation" />
                                        </div> -->
    
                                        <select class="form-control date" name="jour" v-model.trim="form.jour">
                                            <option>-----</option>
                                            <option v-for=" day_res in jour_reserv">
                                                ${ day_res.jour }
                                            </option>
                                        </select>
    
                                    </div>
    
                                    <div class="col-md-6 form-group">
                                        <!-- <div class="input-group date" id="" data-target-input="nearest"> -->
                                            <!-- <input type="text" class="form-control datetimepicker-input" placeholder="Heure reservation " /> -->
                                        
                                            <select class="form-control date" id="" name="heure" v-model.trim="form.heure">
                                                <option>-----</option>
                                                <option v-for=" heure_reserv in heure_reserv">
                                                    ${ heure_reserv.heure }
                                                </option>
                                            </select>
                                    
                                        <!-- </div> -->
                                    </div>
    
                                    <div class="col-md-12 form-group">
                                        <select class="form-control" id="" name="nbre_reservation" v-model.trim="form.nbre_reservation">
                                            <option>-----</option>
                                            <option v-for=" person_reserv in person_reserv">
                                                ${ person_reserv.personne }
                                            </option>
                                        </select>
                                    </div>
                        
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..." v-model.trim="form.nom"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock content%}

